* {
	box-sizing: border-box;
	margin: 0;
	outline: 0px solid red;
	font-family: sans-serif;
	font-size: 100%;
}
#app {
	opacity: 0;
	transition-duration: 0.5s;
	margin: 0 auto;
	/*background-color: #0D3B66;*/
}
h2 {
	display: inline-block;
	padding: 15px 0 0 15px;
	color: white;
	font-size: 2em;
}
.header {
	background-color: #0C3B66;
}
.history-header {
	background: #0C3B66;
	color: white;
	padding: 15px;
}
.add {
	top: 0;
	position: sticky;
	position: -webkit-sticky;
	padding: 15px;
	background-color: rgb(13,59,102);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.add input {
	padding: 10px 15px;
	width: 100%;
	border: none;
	font-size: 1.2em;
	border-radius: 20px;
}
.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.uncompleted:nth-child(even) {background: transparent;}
.uncompleted {background-color: rgba(13,59,102, 0.1);}
.uncompleted span {
	font-size: 1.2em;
	background-color: transparent;
	color: rgb(13,59,102);
}
.completed:nth-child(even) {background-color: rgba(13,59,102, 0.1);}
.completed {background: transparent;}
.completed span {
	text-decoration: line-through;
	color: grey;
}
.todo div {
	display: flex;
	align-items: center;
}
#close {
	cursor: pointer;
	height: 60px;
	font-size: 2em;
	padding: 0 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #C3242A;
}
.circle {
	border-radius: 20px;
	font-size: 1.5em;
	width: 30px;
	height: 30px;
	background-color: transparent;
}
.off {
	border: 3px solid #0C3B66;
	background-color: transparent;
}
.on {
	background-color: green;
	color: white;
}
#check {
	padding: 10px 0;
	cursor: pointer;
	padding: 15px 15px;
	background-color: transparent;
	border: none;
}
#check p {width: 30px;}
a {
	margin: 0 15px;
	display: inline-block;
	color: lightgrey;
}
::placeholder {
    font-size: 1em;
}
.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

